* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 840px;
  padding: 0 20px;
}

.main {
  padding: 50px 0;
}

.title {
  color: #222;
  font-size: 30px;
  line-height: 25px;
  margin: 0 0 20px;
  text-align: center;
}

.canvas {
  display: block;
  max-width: 100%;
}

.download-button {
  background: hsl(207,40%,50%);
  border-radius: 100px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  outline: none;
  padding: 17px 20px;
  transition: background .15s;
}

.download-button:hover {
  background: hsl(200,40%,70%);
}

a {
  color: inherit;
}
